@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satisfy";
  src: url("./assets/fonts/Satisfy-Regular.ttf");
}

@font-face {
  font-family: "Jetbrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2");
}

html {
    font-size: 18px;
}

svg {
    display: inline-block;
    padding: 0 0.2rem;
}

.text-icon {
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    position: relative;
    top: -0.1rem;
}


.text-terminal {
  color: green;
}

.terminal {
  animation: blink 0.66s infinite step-end;
  color: green;
}

.updated {
  font-style: italic;
  color: lightgrey;
}
    
@keyframes blink {
  from, to { opacity: 0; }
  
  50% {opacity: 1;}
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.type {
  color: #0000; /* Start with invisible text */
  background:
    linear-gradient(-90deg, #008000 5px, #0000 0) 10px 0,
    linear-gradient(#008000 0 0) 0 0; /* Gradient for the typing effect */
  background-size: calc(var(--n) * 1ch) 100%; /* Background size based on text length */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  background-repeat: no-repeat; /* Prevent background from repeating */
  opacity: 0; /* Start with opacity 0 */
  animation:
    /* adjust on a case by case base*/
    fadeIn 0.00000001s forwards, /* Fade in animation */
    t calc(var(--n) * .01s) steps(var(--n)) forwards; /* Typing animation */
  animation-delay: calc(var(--delay) * .8s); /* Start typing after fade-in */
}

@keyframes fadeIn {
  0% {
      opacity: 0; /* Start invisible */
      visibility: hidden; /* Ensure hidden */
  }
  99% {
      visibility: hidden; /* Stay hidden until the end */
  }
  100% {
      opacity: 1; /* Fully visible */
      visibility: visible; /* Make visible */
  }
}

@keyframes t {
  from { background-size: 0 100%; } /* Start with no visible text */
  to { background-size: calc(var(--n) * 1ch) 100%; } /* End with full text */
}